{% extends 'base.html' %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <div style="margin-top:20px">
                    <p style=""><b style="">404.</b> 抱歉，您访问的资源不存在。</p>
                    <p class="d">可能是网址有误，或者对应的内容被删除，或者处于私有状态。</p>
                </div>
                <div class="robot"><img src="/user/media/images/404-robot.png" alt="404 robot" /></div>
            </div>
        </div>
    </div>


{% endblock %}